table {
  display: flex;
}

thead {
  position: fixed;
  margin-top: 1rem;
  background-color: white;
}

tbody {
  margin-top: 3.5rem;
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 60%;
  display: table;
  table-layout: fixed;
  margin: auto;
  cursor: pointer;
}
